<!DOCTYPE html>
<html lang="en" >
<head>
	<meta charset="utf-8"/><title>AGB</title>
	<link rel="stylesheet" type="text/css" href="./styles/menu_pages.css">
</head>

<body>

  <section class="container">
	<img src="./styles/img/ugo_logo.png"" alt="University of Goettingen" style="width:652px;height:128px;">	<header> MoBPS </header>
    <div class="topnav">
      <a href="http://www.mobps.de/">MoBPS Home</a>
      <a href="https://www.uni-goettingen.de/de/mitarbeiterinnen/92843.html" target="_blank">Team</a>
      <a href="https://www.uni-goettingen.de/de/publikationen/93141.html" target="_blank">Publications</a>
	  <a href="https://github.com/tpook92/MoBPS" target="_blank">Github</a>
	  <a onclick="func('intro');">Introduction to MoBPS </a>
	  <a onclick="func('faq');">FAQ  </a>
	  <a onclick="func('history');">Version history </a>
	  <a onclick="func('agb');">AGB</a>
	</div>

	<div>
		<h4> Terms & Conditions:</h4>
		<h4> MoBPS Web-interface:</h4>
			<p> The use of the both the R-package and the Web-interface is free of charge! <\p>
			<p> Generation of an account is necessary to protect your own data and only display your own projects! </p>
			<p> If necessary the can sign confidential agreements or assist you in setting up your own MoBPS - server </p>
			
		<h4> R-Package:</h4>
			<p>Copyright (C) 2017 -- 2019  Torsten Pook

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 3
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.</p> 

	</div>
	</section>	
	
	<footer class="footer-distributed">
		<div class="footer-left">
		<p></p><br>
		<p>CONTACT: </p> <br>
		<p></p><br>
		<p>Torsten Pook </p><br>
		<p>Department of Animal Breeding and Genetics</p>
		<p>Albrecht-Thaer-Weg 3</p><br>
		<p>37075 Göttingen</p><br>
		<p>torsten.pook (at) uni-goettingen.de</p><br>
		<p></p>
	</div> 
	</footer>
	
	<script type="text/javascript" src="javascript/menu_pages.js"></script>

</body>
</html>