<!DOCTYPE html>
<html lang="en" >
<head>
	<meta charset="utf-8"/><title>AGB</title>
	<link rel="stylesheet" type="text/css" href="./styles/menu_pages.css">
</head>

<body>

  <section class="container">
		<div class="header_image1">
			<img src="./styles/img/ugo_logo.png"" alt="University of Goettingen" style="width:430px;height:88px;">
		</div>
		<div class="header_image2">
			<img src="./styles/img/cibreed_logo_noback.png" alt="" style="width:210px;height:70px;" >
		</div>
		<br>
		
	    <div class="topnav">
	      <a href="http://www.mobps.de/">MoBPS Home</a>
	      <a href="https://www.uni-goettingen.de/de/mitarbeiterinnen/92843.html" target="_blank">Team</a>
	      <a href="https://www.uni-goettingen.de/de/publikationen/93141.html" target="_blank">Publications</a>
		  <a href="https://github.com/tpook92/MoBPS" target="_blank">Github</a>
		  <a onclick="func('intro');">Introduction to MoBPS </a>
		  <a onclick="func('faq');">FAQ  </a>
		  <a onclick="func('history');">Version history </a>
		  <a onclick="func('agb');">AGB</a>
		</div>

		<header> Terms & Conditions:</header>
		<h3> MoBPS Web-interface:</h3>
		<div id="para"> The entire MoBPS framework is available under open source (GNU 3.0) for both academia and commercial use! We are always interested in collaborations and support to allow us extend the framework </p>
			Generation of an account is necessary to protect your own data and only display your own projects! 
			If necessary we are willing to sign confidential agreements or assist you in setting up your own MoBPS - server 
		</div>
		
		<h3> R-Package:</h3>
		
		<div id ="para"> 
			Copyright (C) 2017 -- 2020  Torsten Pook. This program is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation; either version 3 of the License, or (at your option) any later version.
		</div> 
	
		<div id ="para"> This program is distributed in the hope that it will be useful,but WITHOUT ANY WARRANTY; without even the implied warranty of 
			MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
		</div> 
	
		<div id ="para"> You should have received a copy of the GNU General Public License 
			along with this program; if not, write to the Free Software 
			Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA. 
		</div>
	
	</section>	
	
	<script type="text/javascript" src="javascript/menu_pages.js"></script>

</body>
</html>