<!DOCTYPE html>
<html lang="en" >
	<meta charset="utf-8"/>
	
	<script type="text/javascript">
		var isBrowserSafari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);
		console.log(isBrowserSafari);
	</script>
		
	<head>
		<title>MoBPS</title>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
		<script src="https://unpkg.com/mathjs@5.8.0/dist/math.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/numeric/1.2.6/numeric.min.js"></script>

		<script src="https://unpkg.com/vue-slider"></script>

		<script src="https://cdn.jsdelivr.net/npm/@riophae/vue-treeselect@^0.4.0/dist/vue-treeselect.umd.min.js"></script>
    	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@riophae/vue-treeselect@^0.4.0/dist/vue-treeselect.min.css">

		<!-- for plotting graphs: -->
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

		<script type="text/javascript" src="https://visjs.github.io/vis-network/dist/vis-network.min.js" ></script>
		<script type="text/javascript" src="https://unpkg.com/alea@1.0.0/alea.js"></script>
		<script type="text/javascript" src="https://visjs.github.io/vis-network/examples/network/exampleUtil.js"></script>
		<link src="https://visjs.github.io/vis-network/dist/vis-network.min.css" rel="stylesheet" type="text/css" />

		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" rel="stylesheet" type="text/css" />

		<link rel="stylesheet" type="text/css" href="./styles/mobps.css">

		<!--  for javascript and ajax call -->		
		<script type="text/javascript" src="javascript/jQ1.js"></script>
		<script type="text/javascript" src="javascript/jQ2.js"></script>
		<script type="text/javascript" src="javascript/jQ2_2.js"></script>
		<script type="text/javascript" src="javascript/jQ3.js"></script>

			
		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"></script>
	</head>

	<body onload="init();">		
	<div id="runningDog">
		<button style="color: red" class='bar_button' onclick="stopR();">Stop R Analyze</button> 
		<h3 id="runningDogTitle">
		</h3>
		<div id="runningDogLog">
		</div>
	</div>
		
	<div id='compareProjectDiv'>
		<div id="Project_Bar">	
			<a>&nbsp;</a>
				<a href="http://mobps.de/home" v-if="user!=undefined" class="additional_link">Go back to MoBPS Home</a> 
			<a>&nbsp;</a>					
			</div>
			

			<div id="main">
				
				<h4 v-if="user==undefined" style="color: red; font-style:italic;"> 
				YOUR CURRENT SYSTEM IS NOT SUPPORTING CompareProjects <br>
				Potential issues are: <br>
				Browser (Clear Cache, Update and ideally use Chrome) <br>
				Operating System <br>
				Admin Rights in browser<br>
				Session TimeOut <br>
				You have to Log-In again to Access/Use the Webinterface!!!
				</h4>

				<!--button v-if="user==undefined" onclick="init()" >CLICK HERE TO LOAD IN YOUR PROJECTS</button-->
				<div id="LoadJSON_Div" >
					<br>
					<h2>MoBPS Compare Projects </h2>
					<table>
						<tr>
						<td>
						<h3>Select multiple projects to compare : {{compareProjects}}</h3><br>
						
						<td>
						Filter Projects for Keyword: 
							<input placeholder="Type in filter criterion" type="text" v-model="filter">
							<button class="sub_button" v-on:click="FilterDatabase();"> Apply Filter </button>
							<!--<input type='submit' value='Upload Map'>-->
						</td>
						<br>
						
						<select id="thisArray" name="thisArray[]" multiple onChange="getProjects(this)" v-model="compareProjects" class="comparePSelect" v-if="database2.length==0">
							<option value="">Choose Multiple Projects:</option>
							<option v-for="option in database" v-bind:value="option">
								{{ option }}
							</option>
						</select>
						
						<select id="thisArray" name="thisArray[]" multiple onChange="getProjects(this)" v-model="compareProjects" class="comparePSelect" v-if="database2.length!=0">
							<option value="">Choose Multiple Projects:</option>
							<option v-for="option in database2" v-bind:value="option">
								{{ option }}
							</option>
						</select>
						</td>
						</tr>
					</table>
				</div>
				
    	
	        	<br>
				
					<td>Maximum number of repeats to analyze:
						<span class="tooltip">&#9432 <span class="tooltiptext">Test</span></span>
					</td>
					<td>
						<input placeholder="Type a number" v-model="plottingData.max_rep">
					</td>
					
					<br>
					<td>Display 95% Confidence Intervals </td> 
					<td>
						<input type="checkbox" v-model="plottingData.confidence">
					</td>
					<td>Display Legend </td> 
					<td>
						<input type="checkbox" v-model="plottingData.legend">
					</td>
				
					<h4>Results: Observed Phenotypes</h4>
					<button onclick="RunResultpMeanGroup()" >Run Analysis</button>
					<br>
					<template v-if="plottingData.RespMeanGroup != ''">
						Select plotting type:
						<select v-model="plottingPar.RespMeanGroup_pType" >
							<option v-for="option in plottingType" v-bind:value="option">
							{{ option }}
							</option>
						</select>
						<br>
						Select cohorts (multiple selection possible): 
						<!--select v-model="plottingPar.ResgMean_cohorts" size="6" multiple>
							<option v-for="option in Object.keys(plottingData.Summary)" v-bind:value="option">
							{{ option }}   ({{plottingData.Summary[option].trep - 1}} Repeats)
							</option>
						</select-->
						<button onclick="plottingResultpMeanGroup()" >Plot Results</button>
						<treeselect :multiple="true" :options="Summary" v-model="plottingPar.RespMeanGroup_cohorts" :searchable="true" style="width:800px"/>
					</template>
					<br>
					<br>
					<div v-show="plottingData.RespMeanGroup != ''" v-if="jsonDataList.length>0" style="resize: both; overflow: scroll;" class="RSim_Div">
						<div v-for="(trait, index) in jsonDataList[0]['Trait Info']" v-bind:id="'RespMeanGroup_Div'+(index+1)">
						</div>
					</div>
					<br>
					<br>
					
					<h4>Results: True Breeding Values</h4>
					<button onclick="RunResultgMeanGroup()" >Run Analysis</button>
					<br>
					<template v-if="plottingData.ResgMeanGroup != ''">
						Select plotting type:
						<select v-model="plottingPar.ResgMeanGroup_pType" >
							<option v-for="option in plottingType" v-bind:value="option">
							{{ option }}
							</option>
						</select>
						<br>
						Select cohorts (multiple selection possible): 
						<!--select v-model="plottingPar.ResgMean_cohorts" size="6" multiple>
							<option v-for="option in Object.keys(plottingData.Summary)" v-bind:value="option">
							{{ option }}   ({{plottingData.Summary[option].trep - 1}} Repeats)
							</option>
						</select-->
						<button onclick="plottingResultgMeanGroup()" >Plot Results</button>
						<treeselect :multiple="true" :options="Summary" v-model="plottingPar.ResgMeanGroup_cohorts" :searchable="true" style="width:800px"/>
					</template>
					<br>
					<br>
					<div v-show="plottingData.ResgMeanGroup != ''" v-if="jsonDataList.length>0" style="resize: both; overflow: scroll;" class="RSim_Div">
						<div v-for="(trait, index) in jsonDataList[0]['Trait Info']" v-bind:id="'ResgMeanGroup_Div'+(index+1)">
						</div>
					</div>
					<br>
					<br>
					
					<h4>Results: Accuracy of Breeding Value Estimation</h4>
					<button onclick="RunResultAccBVEGroup()" >Run Analysis</button>
					<br>
					<template v-if="plottingData.ResAccBVEGroup != ''">
						Select plotting type:
						<select v-model="plottingPar.ResAccBVEGroup_pType" >
							<option v-for="option in plottingType" v-bind:value="option">
							{{ option }}
							</option>
						</select>
						<br>
						Select cohorts (multiple selection possible):
						<button onclick="plottingResultAccBVEGroup()" >Plot Results</button>
						<treeselect :multiple="true" :options="Summary_AccBVE" v-model="plottingPar.ResAccBVEGroup_cohorts" :searchable="true" style="width:800px"/>
					</template>

					<br>
					<br>
					
					<div v-show="plottingData.ResAccBVEGroup != ''" v-if="jsonDataList.length>0" style="resize: both; overflow: scroll;" class="RSim_Div">
						<div v-for="(trait, index) in jsonDataList[0]['Selection Index']" v-bind:id="'ResAccBVEGroup_Div'+(index+1)">
						</div>
					</div>
					<br>
					<br>

					
					<h4> Results: Relationship and Inbreeding within Cohorts </h4>
					
					<td>Only consider cohorts named:
						<span class="tooltip">&#9432 <span class="tooltiptext">Test</span></span>
					</td>
					<td>
						<input placeholder="Type a name" v-model="plottingData.consider_cohort">
					</td>
					
					<button onclick="RunResultRelGroup()" >Run Analysis</button>
					<br>
					<template v-if="plottingData.ResRelGroup != ''">
						Select plotting type:
						<select v-model="plottingPar.ResRelGroup_pType" >
							<option v-for="option in plottingType" v-bind:value="option">
							{{ option }} 
							</option>
						</select>
						<br>
						Select cohorts (multiple selection possible):
						<!--select v-model="plottingPar.ResRel_cohorts" size="6" multiple>
							<option v-for="option in Object.keys(plottingData.Summary)" v-bind:value="option">
							{{ option }}   ({{plottingData.Summary[option].trep - 1}} Repeats)
							</option>
						</select-->
						<button onclick="plottingResultRelGroup()" >Plot Results</button>
						<treeselect :multiple="true" :options="Summary" v-model="plottingPar.ResRelGroup_cohorts" :searchable="true" style="width:800px"/>
					</template>
					<br>
					<br>
					<div v-show="plottingData.ResRelGroup != ''" style="resize: both; overflow: scroll;" class="RSim_Div">
						<div id="ResRel_Div1">
						</div>
						<div id="ResRel_Div2">
						</div>
					</div>
					<br>
					<br>
					
					
					<h4> Results: Major QTLs (Allele Frequency, exp./obs. Heterozygosity)</h4>
					<button onclick="RunResultQTLGroup()" >Run Analysis</button>
					<br>
					<template v-if="plottingData.ResQTLGroup != ''">
					
						Select plotting type:
						<select v-model="plottingPar.ResQTLGroup_pType" >
							<option v-for="option in plottingType2" v-bind:value="option">
							{{ option }} 
							</option>
						</select>
						
						Select Trait :
						<select v-model="plottingPar.ResQTLGroup_trait">
							<option v-if="option['Trait Major QTL'] > 0" v-for="(option, index) in jsonDataList[0]['Trait Info']" v-bind:value="index+1">
							{{ option["Trait Name"] }} 
							</option>
						</select>
						Select QTL :
						<select v-if="plottingPar.ResQTLGroup_trait != ''" v-model="plottingPar.ResQTLGroup_qtl">
							<option v-for="(option, index) in jsonDataList[0]['Trait Info'][plottingPar.ResQTLGroup_trait -1]['Trait QTL Info']" v-bind:value="index">
							{{ option['QTL ID'] }}  
							</option>
						</select>
						<br>
						Select Cohorts (multiple selection possible):
						<!--select v-model="plottingPar.ResQTL_cohorts" size="6" multiple>
							<option v-for="option in Object.keys(plottingData.Summary)" v-bind:value="option">
							{{ option }}   ({{plottingData.Summary[option].trep - 1}} Repeats)
							</option>
						</select-->
						<button onclick="plottingResultQTLGroup()" >Plot Results</button>
						<treeselect :multiple="true" :options="Summary" v-model="plottingPar.ResQTLGroup_cohorts" :searchable="true" style="width:800px"/>
					</template>
					<br>
					<br>
					<div v-show="plottingData.ResQTLGroup != ''" style="resize: both; overflow: scroll;" class="RSim_Div">
						<div id="ResQTL_Div1">
						</div>
						<div id="ResQTL_Div2">
						</div>				
						<div id="ResQTL_Div3">
						</div>
					</div>
	</div>
	</div>
	</body>

	<!-- Eigene Javascripte Main Code -->
	<script src="javascript/socket.io.js"></script>
	<script type="text/javascript" src="javascript/compareProjects.js"></script>
	<script type="text/javascript" src="javascript/Rmodule.js"></script>
	

</html>

