<!DOCTYPE html>
<html lang="en" >
<head>
	<meta charset="utf-8"/><title>MoBPS FAQ</title>
	<link rel="stylesheet" type="text/css" href="./styles/menu_pages.css">
</head>

<body>

  <section class="container">
		<div class="header_image1">
			<img src="./styles/img/ugo_logo.png"" alt="University of Goettingen" style="width:430px;height:88px;">
		</div>
		<div class="header_image2">
			<img src="./styles/img/cibreed_logo_noback.png" alt="" style="width:210px;height:70px;" >
		</div>
		<br>
		
    <div class="topnav">
      <a href="http://www.mobps.de/">MoBPS Home</a>
      <a href="https://www.uni-goettingen.de/de/mitarbeiterinnen/92843.html" target="_blank">Team</a>
      <a href="https://www.uni-goettingen.de/de/publikationen/93141.html" target="_blank">Publications</a>
	  <a href="https://github.com/tpook92/MoBPS" target="_blank">Github</a>
	  <a onclick="func('intro');">Introduction to MoBPS </a>
	  <a onclick="func('faq');">FAQ  </a>
	  <a onclick="func('history');">Version history </a>
	  <a onclick="func('agb');">AGB</a>
	</div>

	<header> Frequently asked questions</header>
		
	<h3> In preparation.... </h3>		

	</section>	
	
	<script type="text/javascript" src="javascript/menu_pages.js"></script>

</body>
</html>