<!DOCTYPE html>
<html lang="en" >
<head>
	<meta charset="utf-8"/><title>MoBPS FAQ</title>
	<link rel="stylesheet" type="text/css" href="./styles/menu_pages.css">
</head>

<body>

  <section class="container">
		<div class="header_image1">
			<img src="./styles/img/ugo_logo.png"" alt="University of Goettingen" style="width:430px;height:88px;">
		</div>
		<div class="header_image2">
			<img src="./styles/img/cibreed_logo_noback.png" alt="" style="width:210px;height:70px;" >
		</div>
		<br>
		
    <div class="topnav">
      <a href="http://www.mobps.de/">MoBPS Home</a>
      <a href="https://www.uni-goettingen.de/de/mitarbeiterinnen/92843.html" target="_blank">Team</a>
      <a onclick="func('publication');">Publications</a>
	  <a href="https://github.com/tpook92/MoBPS" target="_blank">Github</a>
	  <a onclick="func('intro');">Introduction to MoBPS </a>
	  <a onclick="func('faq');">FAQ  </a>
	  <a onclick="func('history');">Version history </a>
	  <a onclick="func('agb');">AGB</a>
	</div>

	<header> Frequently asked questions</header>
		
	<p> Is MoBPS free to use? </p>		
	<p> MoBPS is available under GNU 3.0 License. This means its free to use for both academia and commercial use!  </p>	

	<br>
	<p> And your software simulate my breeding program </p>
	<p> I am assuming yes. But it helps if you tell me what you want to simulate =) </p>
	<p> Usually its best to first think about the key steps of your simulation (drawing usually helps) and factors you want to include. </p>
	<p> If you think your simulation is not possible, asking us if it is actually possible or if we can add new features usually helps. </p>
	
	<br>
	<p> How to learn more about MoBPS? </p>		
	<p> Extended documentation on the R-package can be found at <a href="https://github.com/tpook92/MoBPS" target="_blank">Github</a>. </p>	
	<p> Introduction for the interface in form of slides and videos can be found at <a onclick="func('intro');"> here </a>.</p>
	<p> Due to the current CoVid-19 situation no workshops on the use of MoBPS are scheduled. </p>
	
	<br>
	<p> What happens to MoBPS after Torstens PostDoc? </p>
	<p> Our Team that is working at and with MoBPS growing with some positions with contracts till 2023. </p>
	<p> In any case, constantly growing the framework is intended to be a big building block of the work group. Therefore continues support should be assured. </p>
	
	<br>
	<p> My simulations do not finish?! </p>
	<p> Resources per user in our cluster are limited as the backend server has just 20 cores and 64 GB memory. </p>
	<p> Either export your JSON files to R and run the simulations on your own system or ask us help you set up your own MoBPS server. </p>

	</section>	

	
	<script type="text/javascript" src="javascript/menu_pages.js"></script>

</body>
</html>