<!DOCTYPE html>
<html lang="en" >
<head>
	<meta charset="utf-8"/><title>MoBPS Version History</title>
	<link rel="stylesheet" type="text/css" href="./styles/menu_pages.css">
</head>

<body>

  <section class="container">
			<div class="header_image1">
			<img src="./styles/img/ugo_logo.png"" alt="University of Goettingen" style="width:430px;height:88px;">
		</div>
		<div class="header_image2">
			<img src="./styles/img/cibreed_logo_noback.png" alt="" style="width:210px;height:70px;" >
		</div>
		<br>
		
    <div class="topnav">
      <a href="http://www.mobps.de/">MoBPS Home</a>
      <a href="https://www.uni-goettingen.de/de/mitarbeiterinnen/92843.html" target="_blank">Team</a>
      <a href="https://www.uni-goettingen.de/de/publikationen/93141.html" target="_blank">Publications</a>
	  <a href="https://github.com/tpook92/MoBPS" target="_blank">Github</a>
	  <a onclick="func('intro');">Introduction to MoBPS </a>
	  <a onclick="func('faq');">FAQ  </a>
	  <a onclick="func('history');">Version history </a>
	  <a onclick="func('agb');">AGB</a>
	</div>

		<header> The MoBPS Web-interface is still in an open beta stage!</header>
		
		<!--tr> <img src="./styles/img/5884.png"" alt="Construction" style="width:500px"> 										</tr-->	
		<h3> Version history:</h3>		
		
			<div id="para"> 
				Our web-application is currently running using MoBPS v1.05.15. We are currently in the process of preparing a new release and a page for our web-application (MoBPSweb). Current target is to submit / release on biovrix in July/August 2020. New tutorial videos for YouTube are planned, but currently not the priority! 
			</div>
			
			<h3> June 2020 updates:</h3>
			<div id="para"> Style Changes (mostly login-page)</div> 
			
			<h3> May 2020 updates:</h3>
			<div id="para"> Increased font-size in the flash-application. <br>
				Advanced Node-options are now split into sub-options
			</div>
			
			<h3> April 2020 updates:</h3>
			<div id="para"> Release of the CompareProject-Module <br>
				www.mobps.de is now a multi-page application
			</div>
				
			<h3> March 2020 updates:</h3>
			<div id="para"> Browser dependent code - MoBPS now supports Safari <br>
				The website is still developed and optimized for Google Chrome
			</div>
			
			<h3> February 2020 updates:</h3>
			<div id="para"> Minor style changes </div>
			 
			<h3> January 2020 updates:</h3>
			<div id="para"> 
				Drag & Drop features for Phenotype information - module <br> 
				Advanced Phenotypes (offspring avg. etc instead of own phenotypes) for selection<br> 
				Added option to rescaling of genomic values after burn-in generation (Advanced trait rescaling)  <br> 
				Added Threshold-selection 
			</div> 
		
			<h3> Release 09.12.2019 (v0.1.1):</h3>
			<div id="para"> Supported R-package = MoBPS v1.4.30 <br>
				New Web-design for login-page <br>
				MoBPS simulation can run without use of miraculix <br> 
				Added Module to export the population list + population data (vcf/pedmap/phenotypes etc.) <br> 
				Minor bug-fixes for parallel computing <br> 
			</div>
			
	</section>	

	<script type="text/javascript" src="javascript/menu_pages.js"></script>

</body>
</html>