<!DOCTYPE html>
<html lang="en" >
<head>
	<meta charset="utf-8"/><title>MoBPS Version History</title>
	<link rel="stylesheet" type="text/css" href="./styles/menu_pages.css">
</head>

<body>

	<div class="logos" >
		<div class="header_image1">
			<img src="./styles/img/ugo_logo.png"" alt="University of Goettingen" style="width:430px;height:88px;">
		</div>
		<div class="header_image2">
			<img src="./styles/img/cibreed_logo_noback.png" alt="" style="width:210px;height:70px;" >
		</div>
	</div>
		
    <div class="topnav" id="menuItems" style="position:fixed; z-index:10">
      <a href="https://mobps.de/">MoBPS Home</a>
      <a href="https://www.uni-goettingen.de/de/mitarbeiterinnen/92843.html" target="_blank">Team</a>
      <a onclick="func('publication');">Publications</a>
	  <a href="https://github.com/tpook92/MoBPS" target="_blank">Github</a>
	  <a onclick="func('intro');">Introduction to MoBPS </a>
	  <a onclick="func('faq');">FAQ  </a>
	  <a class="active" onclick="func('history');">Version history </a>
	  <a onclick="func('agb');">AGB</a>
	</div>
	
	<div class="container">
		<h1> The MoBPS Web-interface is still in an open beta stage!</h1>
		
		<!--tr> <img src="./styles/img/5884.png"" alt="Construction" style="width:500px"> 										</tr-->	
		<div id="body">
			<h3> Version history (last updated 22/10/21):</h3>		
			
			<div id="para"> 
				Our web-application is currently running using MoBPS v1.06.62. 
				<br> New tutorial videos for YouTube are planned, but currently not the priority! 
				<br> Updates for the R-package are listed at <a href="https://github.com/tpook92/MoBPS" target="_blank">Github</a>
			</div>



			  <h3> October 2021 updates:</h3>
			<div id="para">  New Output function: PCA <br>
			New option to use PCG Solver for large breeding value estimation
			</div> 
			
			
			  <h3> July 2021 updates:</h3>
			<div id="para"> Added additional QTL types for trait generation <br>
			Added Tilapia as new potential species
			</div> 
			
			  <h3> April 2021 updates:</h3>
			<div id="para"> New LD-build up module to simulate founder genotypes <br>
			Major database update. Projects can now be arranged in folders and more comfort changes
			</div> 
			
			  <h3> March 2021 updates:</h3>
			<div id="para"> New input structure more Major QTL position <br>
					Added documentation to all advanced modules ("Press here to get info on how this module works!)
			</div> 
			  
			<h3> Februrar 2021 updates:</h3>
			<div id="para"> OGC now used optiSel (Wellman et al 2019) <br>
					Added module to simultaneously edit multiple nodes/edges
			</div> 
			
			<h3> November 2020 updates:</h3>
			<div id="para"> Sharing of projects between users <br>
				Improved selected screen when using Manuel Select (cohorts for Breeding value estimation) <br>
				Added module to control litter size <br>
			</div> 
			
			<h3> September 2020 updates:</h3>
			<div id="para"> Style Changes (mostly login-page) <br>
				Added display + alert for R warnings <br>
				Added feature to copy input from existing node/edges
			</div> 
			
			<h3> July 2020 updates:</h3>
			<div id="para"> Added new trait generation options (maternal / paternal / linear combination) <br>
				Preprint on the interface at <a href="https://www.biorxiv.org/content/10.1101/2020.07.08.193227v1" target="_blank">bioRvix</a> <br>
				Preprint on the node/edge language to describe breeding programs at <a href="https://www.biorxiv.org/content/10.1101/2020.07.08.193201v1" target="_blank">bioRvix</a> <br>
				Published a MoBPS study on health traits in Horse in <a href="https://pubmed.ncbi.nlm.nih.gov/32645982/" target="_blank">Animals</a> <br>		
				Added maternal / paternal traits
			</div> 
			
			<h3> June 2020 updates:</h3>
			<div id="para"> Style Changes (mostly login-page) <br>
				Added confidence intervals in Output-modules <br>
				Added repeatability as an advanced trait-option
			</div> 
			
			<h3> May 2020 updates:</h3>
			<div id="para"> Increased font-size in the flash-application. <br>
				Advanced Node-options are now split into sub-options
			</div>
			
			<h3> April 2020 updates:</h3>
			<div id="para"> Release of the CompareProject-Module <br>
				MoBPSweb is now a multi-page application
			</div>
				
			<h3> March 2020 updates:</h3>
			<div id="para"> Browser dependent code - MoBPS now supports Safari <br>
				The website is still developed and optimized for Google Chrome
			</div>
			
			<h3> February 2020 updates:</h3>
			<div id="para"> Minor style changes </div>
			 
			<h3> January 2020 updates:</h3>
			<div id="para"> 
				Drag & Drop features for Phenotype information - module <br> 
				Advanced Phenotypes (offspring avg. etc instead of own phenotypes) for selection<br> 
				Added option to rescaling of genomic values after burn-in generation (Advanced trait rescaling)  <br> 
				Added Threshold-selection 
			</div> 
		
			<h3> Release 09.12.2019 (v0.1.1):</h3>
			<div id="para"> Supported R-package = MoBPS v1.4.30 <br>
				New Web-design for login-page <br>
				MoBPS simulation can run without use of miraculix <br> 
				Added Module to export the population list + population data (vcf/pedmap/phenotypes etc.) <br> 
				Minor bug-fixes for parallel computing <br> 
			</div>
			
		</div>			
	
		<div class="footer">
			<div class="f1">
				<p>CONTACT:</p>  <br>
				Torsten Pook<br>
				Department of Animal Breeding and Genetics<br>
				Albrecht-Thaer-Weg 3<br>
				37075 Goettingen<br>
				torsten.pook (at) uni-goettingen.de<br>
			</div> 
			
			<div class="f2">		
				<img src="./styles/img/maze_logo_noback.png" alt="" style="width:180px;height:115px;">
				<div class="textDiv"> This project has received funding from the German Federal Ministry of Education and Research under funding ID 031B0195.</div> 
			</div>
			
			<div class="f3">		
				<img src="./styles/img/sponsor1.png" alt="" style="width:160px;height:115px;">
			</div>  
			
			<div class="f4">
				<img src="./styles/img/project2.png" alt="" style="width:180px;height:115px;">
			</div> 
			
			<div class="f5">
				<img src="./styles/img/sponsor2.jpg" alt="" style="width:140px;height:95px;padding-top:5px;padding-left:40px;">
				<div class="textDiv" style="padding-left:40px;">This project has received funding from the European Union's Horizon 2020 research and innovation programme under grant agreement No 677353.</div>
			</div> 			
		</div>
		
	</div>	
	
	<script type="text/javascript" src="javascript/menu_pages.js"></script>

</body>
</html>