<!DOCTYPE html>
<html lang="en" >
<head>
	<meta charset="utf-8"/><title>Introduction to MoBPS</title>
	<link rel="stylesheet" type="text/css" href="./styles/menu_pages.css">
</head>

<body>

  <section class="container">
	<img src="./styles/img/ugo_logo.png"" alt="University of Goettingen" style="width:652px;height:128px;">	<header> MoBPS </header>
    <div class="topnav">
      <a href="http://www.mobps.de/">MoBPS Home</a>
      <a href="https://www.uni-goettingen.de/de/mitarbeiterinnen/92843.html" target="_blank">Team</a>
      <a href="https://www.uni-goettingen.de/de/publikationen/93141.html" target="_blank">Publications</a>
	  <a href="https://github.com/tpook92/MoBPS" target="_blank">Github</a>
	  <a onclick="func('intro');">Introduction to MoBPS </a>
	  <a onclick="func('faq');">FAQ  </a>
	  <a onclick="func('history');">Version history </a>
	  <a onclick="func('agb');">AGB</a>
	</div>

	<div>
		<h4> Guidelines to the Web-interface:</h4>
		
		<p> For some first testing you can use our Test-user: Guest ; Password: guest </p> 
		<p> This user is not allowed to use the backend-server! </p>
		<p> For your own personaliced account contact torsten.pook(at)uni-goettingen.de </p>
		<br>
		<br>
		<h3> Following slides were used in the IMAGE Workshop (20.11.2019-22.11.2019)</h3>	
		<h3> Using gene bank material for livestock populations: case studies and optimisation using the MoBPS software</h3>	
	</div>
	
	<embed src="./styles/img/IMAGE_workshop_mobps.pdf" width="800px" height="1000px" />
	
	<div>
		<h4> Guidelines to the R-package:</h4>
		<a href="https://github.com/tpook92/MoBPS" target="_blank">Github</a>
	</div>
	
	<embed src="./styles/img/Guidelines to MoBPS.pdf" width="800px" height="1000px" />
	
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	
	</section>	
	
	<div class="footer">
		<div class="f1">
			<p>CONTACT:</p>  <br>
			Torsten Pook<br>
			Department of Animal Breeding and Genetics<br>
			Albrecht-Thaer-Weg 3<br>
			37075 Goettingen<br>
			torsten.pook (at) uni-goettingen.de<br>
			<p class="someheight"></p></br>
		</div> 
		
		<div class="f2">		
			<img src="./styles/img/maze_logo_noback.png" alt="" style="width:259px;height:178px;">
			<div class="textDiv"> This project has received funding from the German Federal Ministry of Education and Research under funding ID 031B0195.</div> <br>
		</div>
		
		<div class="f3">		
			<img src="./styles/img/sponsor1.png" alt="" style="width:259px;height:178px;">			
		</div>  
		
		<div class="f4">
			<img src="./styles/img/project2.png" alt="" style="width:259px;height:178px;">
		</div> 
		
		<div class="f5">
			<img src="./styles/img/sponsor2.jpg" alt="" style="width:259px;height:178px;">
			<div class="textDiv">This project has received funding from the European Union's Horizon 2020 research and innovation programme under grant agreement No 677353.</div> <br>
		</div> 
		
	</div>
	
	<script type="text/javascript" src="javascript/menu_pages.js"></script>

</body>
</html>