<!DOCTYPE html>
<html lang="en" >
<head>
	<meta charset="utf-8"/><title>Introduction to MoBPS</title>
	<link rel="stylesheet" type="text/css" href="./styles/menu_pages.css">
</head>

<body>

 	<div class="logos" >
		<div class="header_image1">
			<img src="./styles/img/ugo_logo.png"" alt="University of Goettingen" style="width:430px;height:88px;">
		</div>
		<div class="header_image2">
			<img src="./styles/img/cibreed_logo_noback.png" alt="" style="width:210px;height:70px;" >
		</div>
	</div>
		
    <div class="topnav" id="menuItems" style="position:fixed; z-index:10">
      <a href="http://mobps.de/">MoBPS Home</a>
      <a href="https://www.uni-goettingen.de/de/mitarbeiterinnen/92843.html" target="_blank">Team</a>
      <a onclick="func('publication');">Publications</a>
	  <a href="https://github.com/tpook92/MoBPS" target="_blank">Github</a>
	  <a class="active" onclick="func('intro');">Introduction to MoBPS </a>
	  <a onclick="func('faq');">FAQ  </a>
	  <a onclick="func('history');">Version history </a>
	  <a onclick="func('agb');">AGB</a>
	</div>
	
	<div class="container">	
	
		<h1> MoBPS - Modular Breeding Program Simulator </h1>
		<div id="body">
		<h3> MoBPS is a framework to simulate, evaluate and compare breeding programs </h3>
		<div id="wrapper">
			<div id="paragraph"> Backend to all simulations is the our R-package that is available at <a href="https://github.com/tpook92/MoBPS" target="_blank" style="white-space: nowrap">Github</a> and on CRAN!
			 <br> Our web-interface is providing a less optimized, but more intuitive way of getting started with MoBPS. To get started either use the Guest-Login or contact us to get your own personalized account.
			 <br> Contact: torsten.pook(at)uni-goettingen.de 
			</div>
			<div id="image"><img src="./styles/img/mobps_left.png" alt="" style="width:150px;height:150px;" >
			</div>
		</div>
			
		<br>
		
		<div id="wrapper">
			<div id="image"><img src="./styles/img/Rlogo.png" alt="" style="width:130px;height:130px;margin-right:20px;" ><img src="./styles/img/gnu_license.png" alt="" style="width:110px;height:130px;" >
			</div>
			<div id="paragraph">
				The entire MoBPS framework is available under open source (GNU 3.0) for both academia and commercial use! 
				<br> We are always interested in collaborations and support to allow us extend the framework. 
				<br> To get in touch contact: torsten.pook(at)uni-goettingen.de 
		</div>
		
		<br>
		
		<div id="wrapper">
			<div id="paragraph"> 
			<br>
			Due do the current CoVid-19 situation no workshop on the use of MoBPS are currently scheduled. 
			<br> As soon as the situation relaxes, we are planning to change that! 
			<br>In case you want to host your own (potentially private) MoBPS workshop / E-workshop contact torsten.pook(at)uni-goettingen.de .
			</div>
			<div id="image"><img src="./styles/img/seminar_pic_noback.png" alt="" style="width:195px;height:195px;" >
			</div>
		</div>
		
		<br>
		<br>
		
		<h3> Getting Started with MoBPS:</h3>
		
		<h3> An online video series on the use of MoBPS can be found at youtube </h3>
			<a style="color:green;font-family:'britanica';text-decoration: none;font-weight: bold;" href="https://www.youtube.com/channel/UC4LDcBka39NidOF1y_65FFw" title="Go To https://www.youtube.com/channel/UC4LDcBka39NidOF1y_65FFw" target="_blank" style="text-decoration:none;">MoBPS Youtube Channel</a><br><br>
			<a style="color:green;font-family:'britanica';text-decoration: none;font-weight: bold;" href="https://www.youtube.com/watch?v=uNeuCkWBNtg&t=11s" title="Go To https://www.youtube.com/watch?v=uNeuCkWBNtg&t=11s" target="_blank" style="text-decoration:none;">First Video</a>

		<h3> Following slides were used in the IMAGE Workshop (20.11.2019-22.11.2019)</h3>	
		<h3> Using gene bank material for livestock populations: case studies and optimization using the MoBPS software</h3>	
	
		<embed src="./styles/img/IMAGE_workshop_mobps.pdf" width="1200px" height="1000px" />
		
		<div id="wrapper">
			<h4> Guidelines to the R-package:</h4>
			<a href="https://github.com/tpook92/MoBPS" target="_blank">Github</a>
		</div>
		
		<embed src="./styles/img/Guidelines to MoBPS.pdf" width="1200px" height="1000px" />
	
	</div>
	<div class="footer">
			<div class="f1">
				<p>CONTACT:</p>  <br>
				Torsten Pook<br>
				Department of Animal Breeding and Genetics<br>
				Albrecht-Thaer-Weg 3<br>
				37075 Goettingen<br>
				torsten.pook (at) uni-goettingen.de<br>
			</div> 
			
			<div class="f2">		
				<img src="./styles/img/maze_logo_noback.png" alt="" style="width:180px;height:115px;">
				<div class="textDiv"> This project has received funding from the German Federal Ministry of Education and Research under funding ID 031B0195.</div> 
			</div>
			
			<div class="f3">		
				<img src="./styles/img/sponsor1.png" alt="" style="width:160px;height:115px;">
			</div>  
			
			<div class="f4">
				<img src="./styles/img/project2.png" alt="" style="width:180px;height:115px;">
			</div> 
			
			<div class="f5">
				<img src="./styles/img/sponsor2.jpg" alt="" style="width:140px;height:95px;padding-top:5px;padding-left:40px;">
				<div class="textDiv" style="padding-left:40px;">This project has received funding from the European Union's Horizon 2020 research and innovation programme under grant agreement No 677353.</div>
			</div> 			
		</div>

	</div>	
	
	<script type="text/javascript" src="javascript/menu_pages.js"></script>
	<script>
		$('a').click(function(e)
		{
		   var target = $(this).attr('href');
		   var iframe = $('<iframe/>',{ width: "420", height: "315" , src : target});
		   $(this).replaceWith(iframe);
		   e.preventDefault();
		});
	</script>

</body>
</html>
