<!DOCTYPE html>
<html lang="en" >
<head>	
	<meta charset="utf-8"/><title>MoBPS User Interface</title>
	<link rel="stylesheet" type="text/css" href="./styles/menu_pages.css">
</head>

<body>

  	<section class="container">
		<div class="header_image1">
			<img src="./styles/img/ugo_logo.png"" alt="University of Goettingen" style="width:430px;height:88px;">
		</div>
		<div class="header_image2">
			<img src="./styles/img/cibreed_logo_noback.png" alt="" style="width:210px;height:70px;" >
		</div>
		<br>
	
	    <div class="topnav">
	      <a href="http://www.mobps.de/">MoBPS Home</a> 
	      <a href="https://www.uni-goettingen.de/de/mitarbeiterinnen/92843.html" target="_blank">Team</a>
	      <a href="https://www.uni-goettingen.de/de/publikationen/93141.html" target="_blank">Publications</a>
		  <a href="https://github.com/tpook92/MoBPS" target="_blank">Github</a>
		  <a onclick="func('intro');">Introduction to MoBPS </a>
		  <a onclick="func('faq');">FAQ  </a>
		  <a onclick="func('history');">Version history </a>
		  <a onclick="func('agb');">AGB</a>
		</div>
		<br>
		<header> MoBPS Login </header>
				
		<div class="login-form">
			<form action="auth" id = "loginForm" method="POST">
			    <label for="username">User Name</label><br>
				<input type="text" name="username" id = "username" placeholder="Username" required>
				<br>
				<label for="password">Password</label><br>
				<input type="password" name="password" id="password" placeholder="Password" required>
				<input type="submit" value="Login">		
			</form>		
			<br>
			<input type="button"  class="guestLogin"  value="Guest Login" onClick="guestLogin();">	
		</div>
		
	</section>	
	
	<div class="footer">
		<div class="f1">
			<p>CONTACT:</p>  <br>
			Torsten Pook<br>
			Department of Animal Breeding and Genetics<br>
			Albrecht-Thaer-Weg 3<br>
			37075 Goettingen<br>
			torsten.pook (at) uni-goettingen.de<br>
		</div> 
		
		<div class="f2">		
			<img src="./styles/img/maze_logo_noback.png" alt="" style="width:180px;height:115px;">
			<div class="textDiv"> This project has received funding from the German Federal Ministry of Education and Research under funding ID 031B0195.</div> 
		</div>
		
		<div class="f3">		
			<img src="./styles/img/sponsor1.png" alt="" style="width:180px;height:115px;">
		</div>  
		
		<div class="f4">
			<img src="./styles/img/project2.png" alt="" style="width:180px;height:115px;">
		</div> 
		
		<div class="f5">
			<img src="./styles/img/sponsor2.jpg" alt="" style="width:180px;height:115px;padding-top:4px;padding-left:40px;">
			<div class="textDiv" style="padding-left:40px;">This project has received funding from the European Union's Horizon 2020 research and innovation programme under grant agreement No 677353.</div>
		</div> 
		
	</div>
	
	<script type="text/javascript" src="javascript/menu_pages.js"></script>

	<script type="text/javascript">
		function guestLogin() {
		  document.getElementById("username").value = "Guest";
		  document.getElementById("password").value = "guest";
		  document.forms['loginForm'].submit();
	   }  
	</script>
	
</body>
</html>