<!DOCTYPE html>
<html lang="en" >
<head>
	
	<meta charset="utf-8"/><title>MoBPS User List</title>
	
<style type="text/css">	
body {
	margin-left:20;
	padding:0;
	height:100%;
	background-color: #d0daf0; 
}

.one {
	width: 50%;
	float: left;
}

.two {
	width:40%;
	float:right;
	margin-right:100px;
}

.usersList {
	margin-bottom:20px;
	width: 100%;
	border: 1px solid darkblue;
	font-size: 13px;
	font-family: verdana, arial, sans-serif;
}

.usersList th {
	text-align: left;
	padding: 2px;
}

.usersList td {
	text-align: left;
	padding: 3px;
}

.usersList tr:nth-child(even){background-color: white}

.projectList {
	width: 100%;
	font-size: 13px;
	font-family: verdana, arial, sans-serif;
	margin-bottom:20px;
}

.projectList th {
	text-align: left;
	padding: 2px;
}

.projectList td {
	text-align: left;
	padding: 5px;
}

.btn .submit {
	font-size: 13px;
	font-family: verdana, arial, sans-serif;
}

.projectText {
	font-size: 15px;
    font-family: verdana, arial, sans-serif;
}
</style>

</head>
	
			<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script> 

		<script src="https://unpkg.com/mathjs@5.8.0/dist/math.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/numeric/1.2.6/numeric.min.js"></script>
		
		<script src="https://cdn.jsdelivr.net/npm/@riophae/vue-treeselect@^0.4.0/dist/vue-treeselect.umd.min.js"></script>
    	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@riophae/vue-treeselect@^0.4.0/dist/vue-treeselect.min.css">
		
		<link rel="shortcut icon" href="#">
		
		<!-- for plotting graphs: -->
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

		<script type="text/javascript" src="https://unpkg.com/alea@1.0.0/alea.js"></script>
		<link src="https://visjs.github.io/vis-network/dist/vis-network.min.css" rel="stylesheet" type="text/css" />
		
		<script type="text/javascript" src="https://almende.github.io/vis/dist/vis.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" type="text/css" href="./styles/mobps.css">
	
		<!--  for javascript and ajax call	-->
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script> 
		<script type="text/javascript" src="javascript/jQ3.js"></script>

		<!-- for drag and drop for Phenotype table -->	
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/sortablejs@1.7.0/Sortable.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.16.0/vuedraggable.min.js"></script>	
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"></script>
	
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/liquor-tree/dist/liquor-tree.umd.js"></script>
		<link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" media="all" rel="stylesheet" type="text/css" />
	
	
<body onLoad="init()">

  	<section class="container">
		<a href="https://mobps.de/home">MoBPS Home</a> 
		<br>
	
		<div id="app">
	
		<div v-if="!isEditing">
			 
			<form action="addUsertoDB" id = "userForm" method="POST"> 
			<br>
			    <table >
				<tr>
					<td> User Name: 
					<input type="text" name="username" id = "username" v-model="userDB._id" placeholder="Username" required> </td>
				</tr>
				<tr>
					<td> Password: 
					 <input type="text" name="password" id="password" v-model="userDB.passw" placeholder="Password" required> </td>
				</tr>				
				<tr>
					<td> Email: 
				 <input type="text" name="email" id="email" v-model="userDB.email" placeholder="email"> </td>
				</tr>
				<tr>
					<td> Group: 
					<select v-model="userDB.group" name="group" id="group" required>
							  <option>1</option>
							  <option>2</option>
							  <option>3</option>
								<option>4</option>
						</select>
					</td>
				</tr>
				<tr>
					<td> <input type="hidden" name="lastloginDate" id="lastloginDate" v-model="userDB.lastloginDate"  placeholder="lastloginDate" required> </td>
				</tr>
				<tr>
					<td> <input type="hidden" name="createdDate" id="createdDate" v-model="userDB.createdDate"  placeholder="createdDate" required> </td>
				</tr>
				<tr>
					<td> <input type="hidden" name="updatedDate" id="updatedDate" v-model="userDB.updatedDate"  placeholder="updatedDate" required> </td>
				</tr>
				<tr>
					<td><input type="submit" value="Add a User"></td>
				</tr>
				
				</table>						
			</form>	
			
			<form action="addStudentsToDB" id = "userForm" method="POST">		
			    <table>
				<tr>
					<td> User Name: 
					 <input type="text" name="username" id = "username" v-model="students.username" placeholder="username" required> </td>
				</tr>
				<tr>
					<td> From: 
					 <input type="text" name="from" id = "from" v-model="students.from" placeholder="from" required> 
					 to: 
					 <input type="text" name="to" id="to" v-model="students.to" placeholder="to" required> </td>
				</tr>
				<tr>
					<td> Password: 
					 <input type="text" name="password" id="password" v-model="students.password" placeholder="password" required> </td>
				</tr>
				<tr>
					<td> Group: 
					<select v-model="userDB.group" name="group" id="group" required>
							  <option>1</option>
							  <option>2</option>
							  <option>3</option>
								<option>4</option>
						</select>
					</td>
				</tr>
				<tr>
					<td> <input type="hidden" name="createdDate" id="createdDate" v-model="students.createdDate"  placeholder="createdDate" required> </td>
				</tr>
				<tr>
					<td> <input type="hidden" name="updatedDate" id="updatedDate" v-model="students.updatedDate"  placeholder="updatedDate" required> </td>
				</tr>
				<tr>
					<td><input type="submit" class="submit" value="Add Multiple Users"></td>
				</tr>
				</table>						
			</form>	
			
		</div>
		
		<div v-else>
		<br>
			<form action="updateUsertoDB" id = "userForm" method="POST">
			<br>
			    <table>
				<tr>
					<td> User Name: </td>
					<td> <input type="text" name="username" id = "username" v-model="userDB['_id']" placeholder="Username" readonly> </td>
				</tr>
				<tr>
					<td> Password: </td>
					<td> <input type="text" name="passw" id="passw" v-model="userDB['passw']"  placeholder="password" required> </td>
				</tr>
				<tr>
					<td> email: </td>
					<td> <input type="text" name="email" id="email" v-model="userDB['email']"  placeholder="email" required> </td>
				</tr>
				<tr>
					<td> Group: </td>
					<td><select v-model="userDB['group']" name="group" id="group" required>
							  <option>1</option>
							  <option>2</option>
							  <option>3</option>
							  <option>4</option>
						</select>
					</td>
				</tr>
				<tr>
					<td> Last Login: </td>
					<td> <input type="text" name="lastloginDate" id = "lastloginDate" v-model="userDB['lastloginDate']" placeholder="lastloginDate" readonly> </td>
				</tr>
				<tr>
					<td><input type="submit" class="submit" value="Update a User"></td>
					<td><input type="submit" class="submit" formaction="loginFromUserList" value="Login"></td>
				</tr>
				</table>						
			</form>			
		</div>
		
		<h3> Users List</h3>				

		<div id='userListDB' class="one">
			<table class = "usersList">
				<thead>
					<tr><th class="boldText"> User Name </th>
						<th class="boldText">Group </th>
						<th class="boldText">Email </th>
						<th class="boldText">Last Login Date </th>						
						<th class="boldText">Created Date </th>
						<th class="boldText">Updated Date </th>
					</tr>
					</thead>
					<tbody>
					<tr v-for='(user, index) in userListDB'>
						<td><input id="userId" type="hidden" v-model="userListDB[index]['_id']"> {{userListDB[index]['_id']}} </td>
						<td> {{userListDB[index]['group']}} </td>
						<td> {{userListDB[index]['email']}} </td>
						<td> {{userListDB[index]['lastloginDate']}} </td>
						<td> {{userListDB[index]['createdDate']}} </td>
						<td> {{userListDB[index]['updatedDate']}} </td>
						<td> <button class="btn"  @click="editUser(user)"> Edit </button> </td>
						<td> <button class="btn" @click="deleteUser(user)"> Delete </button></td> 
						<td> <button class="btn" @click="getProjectList(user)"> Get Projects</button></td>					
					</tr>					
			</table>				
		</div>
		<div id='getProjectsFortheUser' v-if="getProjectsFortheUser !== '' " class="two">
			<table class="projectList">
				<thead>
					<tr>
						<th class="boldText"> Project Name </th>
						<th class="boldText"> SharedWith </th>
						<th class="boldText"> isShared </th>
						<th class="boldText">Created Date </th>
						<th class="boldText">Updated Date </th>
					</tr>
					</thead>
					<tbody>
					<tr v-for='(project, index) in getProjectsFortheUser'>
						<td>  {{getProjectsFortheUser[index]['name']}} </td>
						<td>  {{getProjectsFortheUser[index]['sharedWith']}} </td>
						<td>  {{getProjectsFortheUser[index]['isShared']}} </td>
						<td> {{getProjectsFortheUser[index]['createdDate']}} </td>
						<td> {{getProjectsFortheUser[index]['updatedDate']}} </td>
						<td> <button class="btn" @click="deleteProject(project)"> Delete </button></td> 
												<td> <button class="btn" @click="downloadJSON(project);"> get JSON </button></td>
					</tr>					
			</table>			 			
		</div>		
		<div v-else>
			<p class="projectText"> There are no projects available. </p>
		</div> 
	</div>
	
	</section>
		
	<script type="text/javascript" src="javascript/userList_database.js"></script> 

</body>
</html>