body { 
  background-color: #d0daf0; 
  margin-left :7%;
}

h2 {font-size:12px; }

h3 {
	font-size:13pt;
	font-family: verdana, arial, sans-serif;
}

h4 {font-size:14px; }

p {font-size:12px; }

.container {
  	position: absolute;
  	background-color: #d0daf0;
  	width:90%;
	height: 150px;
	margin: auto;
	padding: 10px;
	cursor: pointer;
}

.header_image1 {
  	-moz-box-sizing: border-box;
   	box-sizing: border-box;
   	display: inline-block;
  	min-width: 100px;
   	width: 18%;
  	background-color: #d0daf0;
 }

.header_image2 {	
   	float: right;
   	min-width: 100px;
   	width: 20%;
  	background-color: #d0daf0;
	padding-right:80px;
	padding-bottom:10px;
 }

 
/* The navbar */
.topnav {
  overflow: hidden;
  width: 100%;
  background-color: #4A5289;
}



/* Navbar links */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight:bold;
}

.topnav a:hover {
  background-color: #d0daf0;
  color: black;
  text-decoration: underline;
}

.topnav a.active {
  background-color: darkgreen;
  color: white;
}

header {
	font-size: 13pt;
	font-weight:bold;
	text-align:left;
	padding-top:10px;
}

.login-form {
	width: 20%;
	height:100%;
	margin-top: 50px;
	float: left;
	font-family: britanica;
	font-size: 14px;
}

.login-form h1 {
	text-align: left;
	color: #4d4d4d;
	font-size: 14px;
	padding: 20px 0 20px 0;
}

.login-form input[type="password"],
.login-form input[type="text"] {
	width: 80%;
	padding: 15px;
	border: 1px solid darkblue;
	margin-bottom: 15px;
	box-sizing:border-box;
	font-size: 14px;
    border-radius: 4px;
}

.login-form input[type="submit"] {
	width: 80%;
	padding: 15px;
	background-color: #535b63;
	border: 0;
	box-sizing: border-box;
	cursor: pointer;
	font-weight: bold;
	color: #ffffff;
	font-size: 13px;
}
		
.guestLogin {
  padding: 15px;
  width:80%;
  font-size: 14px;
  font-weight:bold;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color:  #5394ed;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px #999;
}

.footer {
	position: absolute;
   	left: 0;
   	bottom: 0px;
  	width: 100%;
	height:25%;
   	background-color: gray;
   	color: white;
   	text-align: center;
}

 .f1,
 .f2,
 .f3,
 .f4,
 .f5 {
   	display: inline-block;
   	font-size: 12px;
   	width: 18%;
	background: gray;
 }

.f1 {
    text-align: left;
	font-size: 12px;
  }

.f2, .f5 {
    text-align: left;
	font-size: 12px;
  }

.textDiv {
	width:200px;
	height:30px;
	font-size: 12px;
	text-align: left;
}

.tinyheight {
	height:5px;
}

/* intro page */
header {
	margin-top:20px;
	font-size:15pt;
	font-family: verdana, arial, sans-serif;
	color:darkblue;
}
#wrapper {
    width: 85%;
    overflow: auto;
}
#paragraph {
	padding-top:20px;
	padding-left:20px;
	padding-right:100px;
	padding-bottom:20px;
    float: left;
    width: 500px;
	line-height: 1.5;
	font-size:11pt;
	font-family: verdana, arial, sans-serif;
}
#image {
	float: left;
    width: 300px;
}

#para {
	padding-top:0px;
	padding-left:20px;
	padding-right:600px;
	padding-bottom:20px;
    float: left;
    width: 75%;
	line-height: 1.5;
	font-size:12pt;
	font-family: verdana, arial, sans-serif;
}


