/****** General Styles **********************/
body {
	line-height: 1.5;
	background-color:#f2f2f2;
	font-size:12pt;
	font-family: cambria;
	padding-bottom:2px;
}

h3 {
	font-size:14pt;
	color:darkblue;
	font-weight: bold;
}

h2 {
	font-size:18pt;
	font-family: verdana, arial, sans-serif;
	color:darkblue;
}

h4 {
	font-size:12pt;
	font-style: italic;
}

h5 {
	font-size:13pt;
	font-weight: bold;
}

h6 {
	font-size:12pt;
	font-style: italic;
	text-align: right;
	color: #5394ed;
}

/****  turn off the arrows of number fileds  */
.no-spinners {
  -moz-appearance:textfield;
}

.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#MOBPS_logo {
	top: 10px;
	left:1%;
	width:9%;
	position:fixed;
	z-index:100;
}

#mainDiv #compareProjectDiv{
	padding-left:10px;
	position:absolute;
}

#mainCP {
  margin-top: 70px;
  margin-left: 20px;
}

.container {
  display: block;
  cursor: pointer;
  float: left;
  left: 5px;
  top: 40px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #4A5289;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

#Project_Bar {
	background-color: #4A5289;
	position:fixed;
	left:0px;
	top:0px;
	height:30px;
	width:100%;
	margin: 0px;
	padding-left: 5px;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:30px;
	z-index:550;
	font-size: 13pt;
	font-weight:bold;
	color: red;
}

#SaveAs_Div {
	display:none;
	position:fixed;
	top:25%;
	left:25%;
	z-index:299;
	width:500px;
	height:140px;
	background-color: #f9f9f9;
	border-style:solid;
	border-width:3px;
	border-color: #5394ed;
	padding:30px;
	text-align: center;
	font-size: 15pt;
}

#shareProject_Div {
	display:none;
	position:fixed;
	top:25%;
	left:45%;
	z-index:299;
	width:250px;
	height:450px;
	background-color: #f9f9f9;
	border-style:solid;
	border-width:3px;
	border-color: #5394ed;
	padding:30px;
	text-align: center;
	font-size: 15pt;
}

.invisible_button {
  visibility: hidden;
  width:60px;
  background-color: #4A5289;
}

.navlinks {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 65px;
  background-color:#4A5289;
}

.navlinks_old {
  background-color:#4A5289;
  padding-bottom: 20px;
  padding-top: 10px;
}

.navlinks .fileType {
	background-color: #4A5289;
	padding-bottom: 20px;
	color: white;
	font-size: 13pt;
	padding: 6px 16px;
	font-weight: bold;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	border:2px;	
}

.navlinks .fileType:hover {
  color:  white;
  font-style:oblique;
  text-decoration:underline;
}

#Navigator {
	background-color:#4A5289;
	position:fixed;
	left:0px;
	top:50px;
	width:300px;
	margin: 0px;
	padding: 0px;
	padding-right:0px;
	z-index: 600;
	overflow-x: hidden;
}

#runningDog {
	background-image: url("img/runningDog.webp");
	/* background-image:url("img/Image_logo.png"); */
	background-color: white;
	border:2px;
	background-repeat: no-repeat;
	background-position:center;
	background-size:400px;
	z-index: 700;
	position:fixed;
	left:10%;
	top:50px;
	height:80%;
	width:70%;
	visibility: hidden;
	padding: 50px;
	text-align: center;
	font-size:10pt;
	overflow: auto;
}


#warnings {
	margin-top:180px;
	position:fixed; 
	padding: 10px ;
	z-index:201; 
	right:0vw; 
	top:0vw; 
	width:20%; 
	height:100%; 
	background-color: rgba(252,222,222, 0.5) ;
}

#warnings_sum {
	margin-top:35px;
	position:fixed; 
	padding: 0 10px ;
	z-index:250; 
	right:0vw; 
	top:80px; 
	width:20%; 
	height:10%; 
	background-color: rgba(0, 0, 0, 0);
	overflow-y:auto;
}

#warnings_sum_safari {
	position:fixed; 
	padding: 0 20px ;
	z-index:250; 
	left:75%;
	right:0vw; 
	top:50px;
	bottom:0px; 
	width:20%; 
	height:10%; 
	background-color: rgba(0, 0, 0, 0);
	overflow-y:auto;
}

#showGenInfo_button {
	float:right;
	position:fixed; 
	padding: 0px ;
	z-index:210; 
	right:130px;
	margin:0px;
	top:1px; 
	background-color: rgba(0, 0, 0, 0);
}

#showWarning_button {
	float:right;
	position:fixed; 
	padding: 0px ;
	z-index:210; 
	right:1px;
	margin:0px;
	top:1px; 
	background-color: rgba(0, 0, 0, 0);
}

.RSim_Div {
	position:relative;
	width: 1500px;
	border: 1px solid #4f567c;
	height:750px;
}

#Rout_Div {
	position:relative;
	width: 800px;
	font-size:10pt;
	height: 500px;
	overflow:scroll;
	border: 1px solid #4f567c;
}

#general_Economy {
	position:relative;
	width: 500px;
	border: 1px solid #4f567c;
	background-color: #f0f0f0;
}

/********* Some tooltip styles for additional info on hover ********************/
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: black;
  font-size:9pt;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  top: -5px;
  left: 105%; 
  z-index: 500;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/****** some funny animations ***************/

.slide-generalInfo-enter-active {
  transition: all .3s ease;
}
.slide-generalInfo-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-generalInfo-enter, .slide-generalInfo-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

.slide-menu-enter-active {
  transition: all .3s ease;
}
.slide-menu-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-menu-enter, .slide-menu-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

/****** nice styles for our buttons :) ******/
button {
  display: inline-block;
  padding: 2px 5px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: #5394ed;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px #4A5289;
}

button:hover {
	font-style:oblique;
}

button:active {
  background-color: green;
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}

button:disabled,
button[disabled]{
  background-color: #cccccc;
  color: #666666;
}

.sub_button {
	background-color: #8B9DC3;
	font-size: 10pt;
	padding: 2px 4px;
	font-weight: bold;
	color: darkblue
}

#main {
  margin-top: 80px;
  margin-left: 10px;
  padding: 12px;
}

#load_table{
	position:relative;
	width: 900px;
	border: 0px solid lightblue;
}

#load_table td {
	padding-left: 5px;	padding-bottom: 5px;
	padding-right: 0px;
	padding-top: 0px;
    font-size: 12px;
}

#load_table input[type=text]{
	font-size:12pt;
	height: 25px;
    border: 2px solid lightblue;  
}

#load_table select{
  height: 25px;
  font-size:12pt;
  border: 2px solid lightblue;  
  font-family:cambria;
}

#generalInfo {
	position:fixed; 
	padding: 20px ;
	z-index:200; 
	right:0vw; 
	top:0vw; 
	width:20%; 
	height:100%; 
	background-color:rgba(233,243,255, 0.5);
}


#geninfo_table {
	position:relative;
	width: 800px;
	border: 1px solid darkblue;
}

#geninfo_table td {
	padding-left: 10px;
	padding-bottom: 4px;
	padding-right: 0px;
	padding-top: 4px;
	font-size:12pt;
	font-family:cambria;
}

#geninfo_table input[type=text]{
	font-size:12pt;
    width: 60%;
	height: 25px;
    padding: 0px 0px;
    margin: 0px 0px;
    border: 2px solid lightblue;
	font-family:cambria;  
}

#geninfo_table input[type=file]{
	font-size:11pt;
	height: 25px;
    border: 0px solid lightblue;
	font-family:cambria;  
}

#geninfo_table input[type=value]{
	font-size:12pt;
    width: 40%;
	height: 25px;
    padding: 0px 0px;
    margin: 0px 0px;
    border: 2px solid lightblue;
	font-family:cambria;  
}

#geninfo_table select{
  width: 50%;
  height: 30px;
  font-size:12pt;
  border: 2px solid lightblue;
  font-family:cambria;  
}



#geninfo_table input[type=checkbox] {
		position: relative;
	    cursor: pointer;
	  	-webkit-appearance: none;
  		-moz-appearance: none;
}

#geninfo_table  input[type=checkbox]:before {
         content: "";
         display: block;
         position: absolute;
         width: 15px;
         height: 15px;
         background-color:darkgray;
		 margin: 0 auto;
		font-family:cambria;
}

#geninfo_table input[type=checkbox]:checked:before {
         content: "";
         display: block;
         position: absolute;
         width: 15px;
         height: 15px;
         background-color:#1E80EF;
		  font-family:cambria;
}

#geninfo_table input[type=checkbox]:checked:after {
         content: "";
         display: block;
         width: 4px;
         height: 8px;
         border: solid darkblue;
         border-width: 0 2px 2px 0;
         -webkit-transform: rotate(45deg);
         -ms-transform: rotate(45deg);
         transform: rotate(45deg);
         position: absolute;
         top: 0px;
         left: 6px;
		 font-family:cambria;
}

#geninfo_table input[type='radio'] {
  display: none;
}

#geninfo_table label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 2px;
  margin: 0 2px 0 0;
  width: 15px;
  height: 15px;
  border-radius: 11px;
  border: 2px solid darkgray;
  background-color: transparent;
  font-family:cambria;
}

#geninfo_table input[type='radio']:checked+label:before {
  position: relative;
  border: 2px solid darkgray;
  border-radius: 11px;
  width: 15px;
  height: 15px;
  top: 3px;
  content: " ";
  display: inline-block;
  background-color: #1E80EF;
  font-family:cambria;
}

#chrom_table {
	background-color: #f0f0f0;
	border-collapse: collapse;
	text-align: center;
}

#chrom_table td {
	padding: 5px;
	font-family:cambria;
}

.trait_table {
	background-color: #f0f0f0;
	border-collapse: collapse;
	text-align: center;
	max-width: 70%;
}

.trait_table td {
	padding:5px;
	height:20px;
	font-size:11pt;
	font-weight:bold;
	font-family:cambria;
}

.trait_table input[type=value]{
	font-size:11pt;
    width: 80px;
	height: 28px;
    border: 2px solid lightblue;  
	font-family:cambria;
}

.var_table {
	background-color: #f0f0f0;
	border-collapse: collapse;
	text-align: center;
	width: 400px;
}

.var_table td {
	padding:5px;
	font-size:11pt;
	font-weight:bold;
	font-family:cambria;
}

.var_table input[type=value]{
	font-size:11pt;
    width: 80px;
	height: 28px;
    border: 2px solid lightblue;  
	font-family:cambria;
}

.culling_table {
	background-color: #f0f0f0;
	border-collapse: collapse;
	text-align: center;
	max-width: 70%;
}

.culling_table td {
	padding:5px;
	height:20px;
	font-size:11pt;
	font-weight:bold;
	font-family:cambria;
}

.culling_table input[type=text]{
	font-size:11pt;
    width: 80px;
	height: 25px;
    border: 2px solid lightblue;  
	font-family:cambria;
}

#culling_table select{
  height: 25px;
  font-size:11pt;
  border: 2px solid lightblue;
  font-family:cambria;
}

.sub_text {
	font-size:12pt;
	color:darkblue;
}


.drag_table {
	background-color: #f0f0f0;
	border-collapse: collapse;
	text-align: center;
	width:700px;
	table-layout: fixed;
}

.drag_table td {
	padding:5px;
	height:20px;
  	width: 56px;
	font-size:8pt;
	font-family:cambria;
	font-weight:bold;
}

.drag_table input[type=number]{
	margin-top:0px;
	margin-bottom:0px;
	font-size:8pt;
	height: 25px;
    border: 2px solid red;  
	font-family:cambria;
}


.corr_title {
    font-weight:bold;
    width:60px;
    font-size:12pt;
    color:darkblue;
    padding:5px;
    text-align:left;	
}

.corr_table {
	background-color: #f0f0f0;
	border-collapse: collapse;
	text-align: center;
	font-size:10pt;
	max-width:800px;
}

.corr_td {
	padding:5px;
	height:20px;
	width:60px;
	font-size:10pt;
	font-weight:bold;
	font-family:cambria;
}

.trait_table td {
	padding:5px;
	height:20px;
	font-family:cambria;
}

.phenoMedium {
	width:80px;
	font-size:10pt;
	height:18px;
	border:2px solid lightblue;
	padding-left:1px;
}

.phenoSmall {
	width:50px;
	font-size:10pt;
	height:18px;
	border:2px solid lightblue;
	padding-left:0px;
}

.phenoSmallReadOnly {
	width:50px;
	font-size:10pt;
	height:18px;
	border: 0px;
	padding-left:0px;
	color: #e8e3e3;
	background-color: #f2f2f2;
}

.phenoNumber {
	margin-top:30px;
	margin-bottom:30px;
	font-size:10pt;
	height:10px;
	width:50px;
    border: 2px solid red;    
}

.phenoNumberReadOnly {
	margin-top:30px;
	margin-bottom:30px;
	font-size:10pt;
	height:10px;
	width:50px;
    border: 0px;  
	color: #e8e3e3;
	background-color: #f2f2f2;	
}

.phenoCheck {
	width:50px;
	font-size:10pt;
	height:18px;
	border:2px solid #1E80EF;
	padding-left:0px;
}

.phenoCheckReadOnly {
	width:50px;
	font-size:10pt;
	height:18px;
	border: 0px ;
	padding-left:0px;
	color: #e8e3e3;
	background-color: #f2f2f2;	
}


.phenoTransfo {
	width:120px;
	font-size:10pt;
	height:18px;
	border:2px solid lightblue;
}

.numberStyle{
	font-size:12pt;
	height: 18px;
    border: 2px solid lightblue;  
}


input[type=text]{
	margin-top:0px;
	margin-bottom:0px;
	font-size:12pt;
	height: 25px;
    border: 2px solid lightblue;  
}

input[type=value]{
	margin-top:0px;
	margin-bottom:0px;
	font-size:12pt;
	height: 25px;
    border: 2px solid lightblue;  
}

input[type=number]{
	margin-top:0px;
	margin-bottom:0px;
	font-size:12pt;
	height: 25px;
    border: 2px solid lightblue;  
}

select{
  height: 30px;
  font-size:12pt;
  border: 2px solid lightblue;  
}


/******* Network Styles *********************/
#mynetwork_container {
	position:relative;
	width: 1500px;
	height: 832px;
	border: 1px solid #4f567c;
}

#mynetwork_label {
	float:left;
	position:relative;
	width: 130px;
	height: 830px;
	border: 0 ;
	padding: 5px;
}

#mynetwork {
	float:left;
	position:relative;
	width: 1355px;
	height: 827px;
	border: 1px solid lightgray ;
}

#node-popUp {
	display:none;
	position:fixed;
	top:5vw;
	left:25%;
	bottom:0%;
	right:25%;
	z-index:700;
	width:500px;
	height:500px;
	background-color: #f9f9f9;
	border-style:solid;
	border-width:3px;
	border-color: #5394ed;
	padding:15px;
	text-align: left;
	overflow-y: scroll;
}
#edge-popUp {
	text-align:left;
	display:none;
	position:fixed;
	top:5vw;
	left:15%;
	bottom:0%;
	right:25%;
	z-index:700;
	width:600px;
	height:600px;
	background-color: #f9f9f9;
	border-style:solid;
	border-width:3px;
	border-color: #5394ed;
	padding:15px;
	overflow-y: scroll;
}

#edge_cohorts_Div {
	text-align:left;
	display:none;
	position:fixed;
	top:5vw;
	left:55%;
	bottom:0%;
	right:25%;
	z-index:700;
	width:400px;
	height:600px;
	padding:25px;
	overflow-x: scroll;
}

#node-drag {
	padding: 0px;
	cursor: move;
	background-color: lightgray;
}

#edge-popUpheader {
	cursor: move;
	background-color: lightgray;
}

#node-popUpheader {
	cursor: move;
	background-color: lightgray;
	height:105px;
}

p.drag {
    font-size:12pt;
	font-style: italic;
	text-align: right;
	color: #5394ed;
}

p.operation {
    font-size:11pt;
    font-weight:boldt;
	font-family: verdana, arial, sans-serif;
	color:darkblue;
}

p.title {
    font-size:12pt;
    color:darkblue;
}

/*** Save and Save As submit ***/

/****** nice styles for our buttons :) ******/
input[type=submit]  {
  display: inline-block;
  padding: 2px 5px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: #486F88;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px #999;
  width: 100px;
  height: 30px;
   font-family:cambria;
}

input[type=submit]:hover {background-color: #032236}

input[type=submit]:active {
  background-color: #032236;
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}

.bar_button {
	background-color: #4A5289;
	font-size: 13pt;
	padding: 2px 8px;
	font-weight: bold;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: white;
}

.bar_button:hover {
    text-decoration:underline;
	color: white;
}

.showhide_button {
	background-color: #4A5289;
	font-size: 10pt;
	padding: 3px 3px;
	font-weight: bold;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: white;
}

.showhide_button:hover {
    text-decoration:underline;
	color: white;
}


/** by default, Mozilla add red color box-shadow when the input field is invalid. Same doesn't effect other browsers. So removing. **/
input:invalid {
    box-shadow: none;
}

.excel_table {
	background-color: #f0f0f0;
	border-collapse: collapse;
	text-align: center;
	max-width:800px;
}

.button_type {
  display: inline-block;
  padding: 2px 5px;
  font-size: 15pt;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color:  #66a3ff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px #4A5289;
  font-family:cambria;
}


/** navigation menu */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 60px;
  left: 0;
  bottom:0;
  right:0;
  background-color:#4A5289;
 /* background-color: #d0daf0; */
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
/*
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.5s ease; */
}

.sidebar a {
  padding: 15px 15px 15px 32px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color:  white;
  display: block;
  transition: 0.3s;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.sidebar a:hover {
  color:  white;
  font-style:oblique;
}

.sidebar .closebtn {
  position: absolute;
  top: 10px;
  right: 25px;
  padding-bottom:10px;
  padding-left:5px;
  padding-top:5px;
  padding-right:10px;
  font-size: 15px;
  margin-left: 20px;
  color: white;
  border: none;
  background-color: #5394ed;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.sidebar .closebtn:hover {
  background-color: #444;
}

.additional_link {
	background-color: #5394ed;
	text-decoration: none;
	font-size: 15px;
	text-align: center;
	padding-top: 5px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
	font-weight: bold;  
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color:  white;
}

.guidelines {
	font-size:9pt;
	font-style:italic;
	font-family: verdana, arial, sans-serif;
	margin-left:20px;
	width:65%;
	background-color: #f2f2f2;
}

.sidebar .closebtn:hover {
  background-color: #444;
}

.additional_link:hover {
	background-color: #444;
}

.openbtn {
  background-color: #5394ed;
  margin-top : 15px;
  margin-left:20px;
  padding-bottom:10px;
  padding-top:10px;
  padding-left:10px;
  padding-right:10px;
  font-size: 15px;
  cursor: pointer;
  color: white;
  border: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.openbtn:hover {
  background-color: #444;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

/** navigation menu ends */

/* CohortList table & Population List - after R simulation*/
.cohortListHead  { overflow-y: auto; height: 155px; width:70%;}
.cohortListHead thead th { position: sticky; top: 0; text-align: center; width:105px;  }
.cohortListHead tbody { overflow-y: scroll; position: absolute; width:70%; height:125px;}
.cohortListHead tbody td { position: sticky; top: 0; text-align: center; border: 0px solid darkblue;width:100px; font-size:12pt;padding-right:2px; }
.cohortListHead tbody input { width:60px;text-align: center; border:0; }

.boldText {
	font-size:12pt;
	font-weight: bold;
}

.populationList { height: 170px; width:30%; background-color: #eee; }

/* End : CohortList table & Population List  - after R simulation*/

/* Breeding Scheme Node and Edge guidelines */
.accordion {
  background-color: #f2f2f2;
  color: #444;
  cursor: pointer;
  text-align: left;
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
  margin-bottom:5px;
}

.active, .accordion:hover {
  background-color: white; 
}

.guideline {
  background-color: #f2f2f2;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* Breeding Scheme Node and Edge guidelines ends */

/* for apple products */

.ios,
.ios * {
     cursor: pointer;
}

a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
       cursor: pointer;
}

/*
.trait_move_button {
  display: none;
  margin-top:5px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  width:100%;
  text-decoration: none;
  color: white;
  position: right;
  background-color: #486F88;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px #4A5289;
}
*/

/* compareProject additional style */
.comparePSelect {
    padding:9px;
	font-size: 15px;
    margin-top:5px;
 	width: 300px;
	height: 400px;
    border-radius:4px;
    color:black;
    border:darkblue;
    outline:none;
    display: inline-block;
    -webkit-appearance:none; 
    cursor:pointer;
    border: 2px solid darkblue;
}

.cohortsList  {
  border-collapse: collapse;
  border-spacing: 0;
  width: 55%;
  border: 1px solid darkblue;
  font-size: 11px;
  font-family: verdana, arial, sans-serif;
}

.cohortsList th {
  text-align: left;
  padding: 8px;
}

.cohortsList td {
  text-align: left;
  padding-left: 15px;
}

.cohortsList tr:nth-child(even){background-color: lightgrey}

.cohortsListTime  {
  border-collapse: collapse;
  border-spacing: 0;
  width: 40%;
  border: 1px solid darkblue;
  font-size: 11px;
  font-family: verdana, arial, sans-serif;
}

.cohortsListTime th {
  text-align: left;  
}

.cohortsListTime td {
  text-align: left;
  padding-left: 12px;
}

.cohortsListTime tr:nth-child(even){background-color: lightgrey}

.scrollableTable1 {  width: 55%; }
.scrollableTable1 td { border-collapse: collapse; border: 0px solid #000; }
.scrollableTable1 thead { display: table; width: calc(100% - 17px); }
.scrollableTable1 tbody { display: block; max-height: 200px; overflow-y: scroll; }
.scrollableTable1 th, td { width: 10%; padding: 2px;  }
.scrollableTable1 tr { display: table; width: 100%; box-sizing: border-box; }
.scrollableTable1 td { text-align: center; border-bottom: none; border-left: none; }
.scrollableTable1 tr:nth-child(even){background-color: lightgrey}

.scrollableTable2 {  width: 40%; }
.scrollableTable2 td { border-collapse: collapse; border: 0px solid #000; }
.scrollableTable2 thead { display: table; width: calc(100% - 17px); }
.scrollableTable2 tbody { display: block; max-height: 200px; overflow-y: scroll; }
.scrollableTable2 th, td { width: 10%; padding: 2px; }
.scrollableTable2 tr { display: table; width: 100%; box-sizing: border-box; }
.scrollableTable2 td { text-align: center; border-bottom: none; border-left: none; }
.scrollableTable2 tr:nth-child(even){background-color: lightgrey} 

#projectListDiv{
	padding-left:50px;
	position:relative;
	width:600px;
	height:300px;
	background-color: white;
    border: 1px solid darkblue;
	overflow: auto;
}

#projectListDiv .tree-anchor {
    color: green;
	font-size: 15pt;
}

#projectListDiv .tree-anchor .node-container{
    color: blue;
	font-size: 15pt;
	border:2px;
}

#projectListDiv .node-container .node-text {
    font-size: 15pt;
    color: green;
}


#projectListDivCP{
	padding-left:50px;
	position:relative;
	width:400px;
	height:300px;
	background-color: white;
    border: 1px solid darkblue;
	overflow: auto;
}

#projectListDivCP .tree-anchor {
    color: blue;
	font-size: 13pt;
}

#projectListDivCP .tree-anchor .node-container{
    color: blue;
	font-size: 13pt;
	border:2px;
}

#projectListDivCP .node-container .node-text {
    font-size: 13pt;
    color: blue;
}

#projectListDivCP .tree-content {
    display: flex;
    align-items: center;
    padding: 1px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

#projectListDiv input[type=text]{
    margin-top:10px;
    font-family: verdana, arial, sans-serif;
	font-size: 14px;
	font-style: italic;
	border: 2px solid green;
}

#projectListDivCP input[type=text]{
    margin-top:10px;
    font-family: verdana, arial, sans-serif;
	font-size: 14px;
	font-style: italic;
	border: 2px solid blue;
}

#projectListDivCP .tree-content .tree-checkbox {
	width: 20px;
    height: 20px;
	border: 1px solid blue;
}